
.nav-large{
    background-color: grey;
    border: 1px solid purple;
    margin: 5em;
    height: 10em;
}
.nav-option{
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    padding: .5em .5em .5em 2em;
    float:left;
    margin: 2em .5em 2em 0;
    /* border: 1px solid black; */
    border-radius: 5px;
    width: 8em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: rgb(171, 169, 169);



}

.fifth{
    float: right;
}

/* .listing-container{

} */